/* src/components/Todo/Todo.scss */

.todo-app {
    padding-top: 80px;
}
.todo-list {
    display: flex;
    flex-wrap: nowrap; /* 一列に並べる */
    overflow-x: auto; /* 横スクロールを有効にする */
    padding: 10px;
    gap: 8px;
}

.column {
    flex: 0 0 220px;
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    background-color: white;

    h2 {
        font-size: 16px;
        margin: 0px;
        padding: 8px;
        background-color: #f8f8f8;
        border-radius: 2px 2px 0 0;
    }
}

.task-list {
    padding: 8px;
    transition: background-color 0.2s ease;
    background-color: #f8f8f8;
    flex-grow: 1;
    min-height: 100px;
}

.task {
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #091e4240, 0px 0px 1px #091e424f);
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 10px;
    background-color: #fff;

    &:hover {
        outline: 2px solid var(--ds-border-focused, #388bff);
    }

    &:active {
        background-color: #f0f0f0;
    }
}

.add-task {
    display: flex;
    flex-direction: column;
    padding: 8px;

    &__button {
        padding: 8px;
        border: 0px solid lightgrey;
        border-radius: 2px;
        background-color: #f8f8f8;
        cursor: pointer;

        &:hover {
            background-color: #e0e0e0;
        }
    }
    
    & input {
        margin-bottom: 8px;
        padding: 8px;
        border: 1px solid lightgrey;
        border-radius: 2px;
    }
}

.add-column-button {
    flex: 0 0 220px;
    height: 50px;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: #e0e0e0;
        border-color: #bbb;
    }
}
